$R: 'Roboto';
$RM: 'RobotoMedium';
$RB: 'RobotoBold';

$O: 'Oswald';
$OM: 'OswaldMedium';
$OB: 'OswaldBold';


$white: #ffffff;
$black: #000000;
$blue: #135be7;
$lightblue: #4f7ab7;
$orange: #ee800d;
$background-orange: #ffa03d;
$gray: #525252;
$pbc: #f1f4f8;
$green:#18ba60;
$grey:#909090;
$servicesBgColor:#f9f9f9;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
